body {
	font-family: 'Arial', sans-serif;
}

.container-fluid {
	padding: 20px;
}

.product-card {
	border: none;
	border-radius: 0px;
	max-height: fit-content;
	text-align: center;
	margin-bottom: 20px;
	padding: 15px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card .product-image-wrapper {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-card img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.product-card .product-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
}

.product-card .product-name {
	font-size: 1rem;
    	margin: 0.5rem 0;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row {
	margin: 0;
}

.col-sm-3,
.col-sm-9 {
	padding: 0;
}

.main-container {
	display: flex;
	height: 70vh;
}

.hero-container {
	flex: 1;
	min-height: 0;
}

.sidebar-container {
	width: 250px;
}

@media (max-width: 250px) {
	.main-container {
		flex-direction: column;
	}

	.row {
		margin: 0 -15px;
	}

	.sidebar-container, .hero-container {
		width: 100%;
	}

	.product-card img {
		height: 30px;
	}

	.product-card .card-title {
		font-size: 0.5rem;
	}

	.product-card .btn {
		padding: 3px 8px;
		font-size: 0.5rem;
	}

	.container-fluid {
		padding: 0 15px;
	}

	.col-12 {
		padding: 0 15px;
	}

	.col-sm-12 {
		width: 100%;
	}
}
